
<%= content_for :title do %>
  a micro blog
<% end %>

  <div class="mb-6">
  <% if current_user %>
    <%= form_for Post.new do |form| %>
      <%= form.text_area :body, placeholder: "What's happening?", class: "block w-full h-20" %>
      <div class="flex justify-end">
      <%= form.submit "> post", class: "button" %>
      </div>
    <% end %>
  <% else %>
    <%= link_to "login to post", new_user_session_path, class: "link" %>
  <% end %>
  </div>
  <div class="space">
    <%= render @posts %>
  </div>
