<%= content_for :title do %>
  <%= render "shared/back_link" %>
  <%= @post.user.name %> said:
<% end %>

<div class="text-3xl tracking-tight">
  <h2 class="font-bold"><%= @post.user.name %> said:</h2>
  <p><span class="font-black mr-1">&gt;</span> <%= line_breaks @post.body %></p>
  <p class="font-light flex flex-col">
  <%= timeago(@post.created_at) %>
  <span>on <%= @post.created_at.to_s(:long) %></span></p>
  <br>
  <p><%= "> #{@post.likes.count} likes" %></p>
  <% if current_user && current_user.likes.find_by(post: @post).blank? %>
    <%= link_to 'Do Like', post_likes_path(@post), class: 'button', method: :post %>
  <% elsif current_user && current_user.likes.find_by(post: @post).present? %>
    <%= button_to 'Unlike', post_like_path(@post), method: :delete %>
  <% end %>
</div>
